#navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("bilder/headerbakgrund.png");
  background-size: cover;
  min-height: 350px;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #333;
}

.row.content {
  padding-top: 15px;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
}

.text-content h3 {
  justify-items: flex-start;
}

#bildrad,
#bildrad-original {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;        
  gap: 16px;              
  justify-content: center; 

}

#bildrad article,
#bildrad-original article {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  box-sizing: border-box;
}

#bildrad img,
#bildrad-original img {
  display: block; 
  max-width: 100%; 
  width: 100%; 
  height: auto; 
  object-fit: contain; 
  box-sizing: border-box;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

#bildrad2 img {
height: 200px;
margin-bottom: 5px;
}

#bildred,
#bildrad-redigering {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

#bildred article,
#bildrad-redigering article {
    width: 48%;        
}

#bildred img,
#bildrad-redigering img {
    width: 100%;
    height: auto;
    display: block;
}


@media screen and (max-width: 767px) {
  .sidenav {
    display: none;
    padding: 15px;
    height: auto;

  }
  object {
    width: 45%;
    height: 45%;
  }
}
